body{
    background-color: rgb(23, 23, 63);
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: 1.5px;
}

.container{
    width: 85%;
    margin: auto;
    /* border: 1px red solid; */
}

header{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.header-left{
    display: flex;
}

.logo{
    width: 80px;
    height: 80px;
    margin:auto; 
}

.logo img{
    width: 100%;
    height: 100%;
}

.logo-name{
    margin-left: 20px;
}

.fav{
    margin: auto;
    margin-left: 100px;
}

.header-right{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.search-bar{
    width: 350px;
    height: 20px;
    background: rgb(35 35 82);
    margin: 30px;
    padding: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.bell-icon{
    margin: auto;
}

.profile-pic{
    height: 80px;
    width: 80px;
    margin: auto;
}

.profile-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

main{
    /* height:100vh; */
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-container{
    height: 100%;
    width: 68%;
    /* border: 1px solid white; */
   
}

.main-title{
    font-size: 1.2rem; 
    margin: 5px 0px 0px 0px; 
    padding: 0px;
}

.silder-section{
    height: 200px;
    display: flex;
    position: relative;
    margin: 0px 0px 50px 0px;
}

.silder-section img{
    height: 80%;
    width: 70%;
    box-shadow: 0px 0px 10px 3px #8c88b0;
}

.silder-side-image:hover{
    z-index: 2;
    height: 120%;
    top: -40px;
}

.releases-container{
    /* border: 1px solid purple; */
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.release{
    /* border: 1px solid pink; */
    height: 120px;
    width: 380px;
    display: flex;
}

.release img{
    height: 100px;
    width: 100px;
    margin: 20px 0px 0px 20px;
}

.release-details{
    margin: auto;
    margin-left: 15px;
}

.options{
    margin: auto;
    padding-left: 110px;
}

.release-details p, .options p{
    font-size: 0.8rem;
}

.popular-artists{
    /* height: 300px; */
    /* border: 1px solid rgb(42, 165, 89); */
    margin-top: 50px;
}

.artists{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.artist{
    height: 150px;
    width: 120px;
}

.artist img{
    width: 100%;
    height: 120px;
    border-radius: 50%;
}

.artist p{
    font-size: 0.8rem;
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.stations{
    background-color: rgb(28, 28, 73);
    /* height: 200px; */
    width: 100%;
    margin: 50px 0px 20px 0px;
    display: flex;
    justify-content: space-around;
}

.station-logo img{
    height: 100px;
    width: 100px;
}

.stations-images{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 30px 0px 30px 0px;
}


.station{
    height: 80px;
    width: 80px;
    position: relative;
}

.station img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  -webkit-filter: blur(1px);
}

.station p{
    text-align: center;
    color: rgb(238 198 198);
    position: absolute;
    top: 20px;
    font-weight: bold;
    width: 100%;
}

.albums{
    height: 150px;
    width: 100%;
    /* border: 1px solid wheat; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.album-container{
    position: relative;
}

.album-container img{
    height: 100%;
    width: 250px;
}

.album-container p{
    font-weight: bold;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
}

.latest-collection{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.latest-collection>div img{
    height: 100px;
    width: 100px;
}

.latest-collection>div p{
    font-size: 0.9rem;
    line-height: 6px;
}

.queue-container{
    height: 100%;
    width: 28%;
    /* border: 1px solid yellow; */
    
}

.queue-list{
    /* width: 90%; */
    margin: 50px 0px 0px 0px;
    font-size: 0.8rem;
}

.queue-list-item{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}

.queue-list-item i{
    margin: auto 10px auto 0px;
}

.queue-item-section1{
    display: flex;  
    /* border: 1px solid green; */
}

.queue-list-item img{
    height: 50px;
    width: 50px;
    margin: auto 20px auto 20px;
}

.song-details{
    line-height: 0.4rem;
}

.common-p-styles{
    font-size: 11px;
    color: lightgray;
}

/* .audio{
    position: fixed;
    bottom: 10px;
} */